listeners:
  - addr: 0.0.0.0
    port: 9000
    protocol: tcp
  - addr: 0.0.0.0
    port: 9000
    protocol: udp
upstreams:
  - tag: primary
    host: 203.0.113.10
  - tag: backup
    host: example.net
resolver:
  servers:
    - 1.1.1.1
probe:
  interval: 1s
  window_size: 5
  discovery_delay: 5s
scoring:
  ema_alpha: 0.357
  metric_ref_rtt_ms: 7
  metric_ref_jitter_ms: 1
  metric_ref_loss: 0.05
  weights:
    rtt: 0.2
    jitter: 0.45
    loss: 0.35
switching:
  confirm_windows: 3
  failure_loss_threshold: 0.8
  switch_threshold: 1.0
  min_hold_seconds: 5
limits:
  max_tcp_conns: 50
  max_udp_mappings: 500
timeouts:
  tcp_idle_seconds: 60
  udp_idle_seconds: 30
control:
  addr: 127.0.0.1
  port: 8080
  token: "change-me"
webui:
  enabled: true
